<a href="https://colab.research.google.com/github/HelouiseDayane/python-estatistica/blob/main/introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXPLORAÇÃO ANALISE E TRATAMENTO DOS DADOS: PROJETO E PREVISAO DE DOENÇA CARDIACA**

Este projeto tem por objetivo desenvolver um algiritimo de machene learning  para prever a tendencia de uma pessoa desenvolver algum tipo de doença cardiaca com base em alguns fatores clinicos e laboratoriais de referência.


Os dados foram extraídos do site do Kaggle:

[Kagle](https://www.kaggle.com/fedesoriano/heart-failure-prediction/version/1)

In [39]:
import numpy as np
import pandas as pd

# dados = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/machinelearningcompleto/heart.csv', sep=',',encoding='iso-8859-1')

In [52]:


dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/machine learning completo/heart.csv', sep=',',encoding='iso-8859-1')

In [41]:
#primeiro registros
dados.head()
#ultimos dados do registro
dados.tail()
#quantidade de linhas e colunas do registros
dados.shape

(918, 12)

## Analise de atributos

## Variáveis numericas discretas
###### É quando nao tem numeros quebrados

In [ ]:
#quantidade de pessoas com cada idade nos registros
dados['Age'].value_counts()

#ordenando
dados['Age'].value_counts().sort_index()

In [42]:
import plotly.express as px

In [ ]:
hist1 = px.histogram(dados, x = 'Age', nbins=60)
hist1.update_layout(width=800,height=500, title_text='Distribuição de Idades')
hist1.show()

In [44]:
#biblioteca seaborn
import seaborn as sns

In [ ]:
sns.histplot(dados, x='Age', bins=30, color="green", kde=True, stat="count" );

#Chest pain Type = Tipode de dor no peito
Legenda = 
* ASY:assintomatico
*   NAP = Dor não angionosa
*   ATA = Angina Atípica
*  TA = Angina Tipica

Angina = Dor no peito causada pela diminuição do fluxo de sangue no coração

In [ ]:
#variavel categórico nominal
dados['ChestPainType'].value_counts()

In [ ]:
sns.countplot(x= 'ChestPainType', data=dados);

### Resting BP ( blood pressure) - Pressão sanguinea em repouso em mmHg (sistólica)

### Variáveis numéricas contínuas

In [51]:
#pode ser substituido por dadoa['RestingBP'] é a mesma coisa
dados.RestingBP.value_counts().sort_index();
#percerber e corrigir a sistólica que esta igual a 0

In [ ]:
sns.histplot(dados, x='RestingBP', bins=30, kde=True, color="blue", stat="count");

Colesterol

In [ ]:
dados.Cholesterol.value_counts().sort_index()

In [ ]:
sns.histplot(dados, x='Cholesterol', bins=30, kde=True, color="blue", stat="count");

###Valores Missing vazios

In [ ]:
# Veirifcar ser tem algum campo da coluna vazia
dados.isnull().sum()

In [ ]:
#excluir valores vazios

dados2 = dados.dropna()

#Análise Estatistica descritiva

In [ ]:
#apenas para valores numericos obviamente
dados2.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,917.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.540894,244.635389,0.233115,136.809368,0.887364,0.553377
std,9.432617,17.999749,53.318029,0.423046,25.460334,1.066570,0.497414
min,28.000000,80.000000,85.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,214.000000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,244.635389,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [ ]:
# O unico que nao aparece no descrbe é a moda que pode ser bizualizada separadamente desta forma 
dados2.mode()

##Tratando valores incoerentes

pressao anterial = 0

Substituindo valores zero pela media

In [ ]:
dados2 = dados.loc[dados.Cholesterol != 0]

In [ ]:
#Colesterol substituindo valor 0 por nulo
dados2.Cholesterol.replace(0, np.NaN, inplace=True)

In [ ]:
#substituir valores nulos pela média
dados2['Cholesterol'].fillna(dados2['Cholesterol'].mean(), inplace=True);

## Análise de Outliers

In [ ]:
#idade
px.box(dados2, y='Age')

In [ ]:
#pressao
px.box(dados2, y='RestingBP')

In [ ]:
#colesterol
px.box(dados2, y='Cholesterol')

In [63]:
dados2.to_csv('heart_tratado.csv', sep=';', encoding='utf-8', index=False)